/* Written on June 2022 by Joao Dos Santos */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

:root {
    --base-green: #21a759;
    --secondary-grey: #ddddd5;
    --secondary-letters: rgb(97, 96, 96);
    --test-border: 2px solid red;
    --card-shadow: .3rem .3rem .5rem rgba(0,0,0,0.25)
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem 1fr 22rem;
    grid-template-rows: 12rem 1fr;
}

/*header*/
.header {
    position: relative;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    height: 12rem;
    background-color: white;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.25);
    
}

/*header upper*/
.header-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 2rem;
    font-size: 1rem;
    font-weight: 900;
}

.header-upper > div > input {
    height: 2rem;
    width: max(35vw, 10rem);
    padding-left: .75rem;
    font-size: 1.2rem;
    border: 0 solid;
    border-radius: 1rem;
    margin-right: 3rem;
    background-color: var(--secondary-grey);
}

.header-upper-left, .header-upper-right {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 1.2rem;
}

.header-upper-right > img{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.header-icon, .header-upper-left > a, .header-upper-right > a {
    height: 1.5rem;
    font-size: 1.5rem;
    color: black;
}

/*header lower*/
.header-lower {
    height: fit-content;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 2rem;
}

.header-lower-left {
    height: fit-content;
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: repeat(2, 2.5rem);

}

.greeting {
    align-self: center;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 900;
}

.social-handle {
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.header-lower-left > img{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.header-lower-right {
    display: flex;
    gap: 2rem;
}

.header-lower-right > button {
    cursor: pointer;
    background-color: var(--base-green);
    color: white;
    font-weight: 900;
    font-size: 1rem;
    border: 0;
    border-radius: 2rem;
    height: 2.5rem;
    width: 6.5rem;
}

/*sidebar*/
.sidebar {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: white;
    background-color: var(--base-green);
}

.side-upper {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 1rem .75rem 1.8rem;
    font-size: 1.75rem;
    font-weight: bold;
}

.side-icon {
    font-size: 1.4em;
}

.sidebar > div > ul >li{
    padding: .75rem;
    padding-left: 2rem;
}

.sidebar > div > ul >li > a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: white;
}



/*content*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    background-color: var(--secondary-grey);
    padding: 2rem 0 2rem .5rem;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
}

.card-container > p {
    grid-column: 1 / -1;
    margin-left: .5rem;
    font-weight: 600;
}

.card-container > div {
    background-color: white;
    border-left: .65rem solid rgb(235, 155, 8);
    border-radius: 10px;
    height: 10rem;
    margin: .5rem 1rem 1rem .5rem;
    box-shadow: var(--card-shadow);
}

/*inside card*/
.card {
    padding: 30px 20px 30px 20px;
    font-size: 1.1rem;
}

.card-upper > p:first-of-type {
    font-weight: 600;
}

.card-upper > p:nth-child(2) {
    color: var(--secondary-letters);
}

.card-lower {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* right-content */
.right-content-container {
    padding: 2rem 3rem 3rem .5rem;
    /* border: var(--test-border); */
    background-color: var(--secondary-grey);
}

/* announcements */
.announcements > p {
    font-weight: 600;
}

.announcements-container {
    font-size: .9rem;
    margin-top: .5rem;
    padding: 1rem 2rem 1rem 2rem;
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--card-shadow);
}

.announcements-container > div {
    padding: 1rem 0;
}

.announcements-container > div > p:first-of-type {
    font-weight: 600;
}

.announcements-container > div > p:nth-child(2) {
    color: var(--secondary-letters);
}

.announcements-container > div:nth-child(1), .announcements-container > div:nth-child(2) {
    border-bottom: 1px solid var(--secondary-letters);
}

/* Trending */
.trending > p {
    margin-top: 2rem;
    font-weight: 600;
}

.trending-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .5rem;
    padding: .5rem;
    height: 18.75rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
}

.trending-container > div {
    padding: .5rem;
    font-size: .9rem;
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: repeat(2, 1.6rem);
}

.trending-container > div > p:nth-child(3) {
    grid-column: 2 / 3;
    margin-left: .8rem;
    color: var(--secondary-letters);
}

.trending-container > div > p:nth-child(2) {
    font-weight: 500;
    align-self: flex-end;
    margin-left: .8rem;
}


.trending-container > div > img {
    height: 3.2rem;
    width: 3.2rem;
    border: 0;
    border-radius: 50%;
}
